n8n/workflows/0LdgQcogHwx6KVSb-0-1-evolution-connection-listener-v5-0.json
{
  "id": "0LdgQcogHwx6KVSb",
  "name": "0.1 Evolution Connection Listener v5.0",
  "description": "Listener Evolution path estatico evolution/v44. Identifica tenant via body.instance. Atualiza tenants.evolution_status, envia welcome WA, notifica Telegram. Idempotente via welcomed_at.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "1684d4cc-9034-4586-95e3-d1a3d9455996",
      "name": "Evolution Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-events-v44",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "18e6f205-284d-4c19-a027-2016aed7885b"
    },
    {
      "id": "6707dcc2-161b-4745-8b6a-c582738279f5",
      "name": "Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inp=$input.first().json||{};const body=inp.body||{};const data=body.data||{};return[{event:body.event||'',instance:body.instance||'',state:data.state||'',is_connected:body.event==='connection.update'&&data.state==='open',raw:body}];"
      }
    },
    {
      "id": "cdf6c351-500c-4f52-8fb3-2185e32ef9e9",
      "name": "Connected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.is_connected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "70c4927b-2110-48a7-b9cb-69f4d5b35af7",
      "name": "Lookup Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        672,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT tenant_id, doctor_name, clinic_name, phone, admin_phone, doctor_phone, welcomed_at FROM public.tenants WHERE evolution_instance_name = '{{ $json.instance }}' OR tenant_id = '{{ $json.instance }}' LIMIT 1",
        "options": {}
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "eef1b403-eaae-459b-9633-f09626512eab",
      "name": "Not Welcomed Yet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        96
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "has_tenant",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "no_welcome",
              "leftValue": "={{ $json.welcomed_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a8342985-ada1-4a9e-add8-d2043ea4917d",
      "name": "Mark Connected + Welcomed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.tenants SET evolution_status='connected', welcomed_at=NOW(), updated_at=NOW() WHERE tenant_id='{{ $json.tenant_id }}'",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "build-recipients-1",
      "name": "Build Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -96
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const t=$('Lookup Tenant').item.json;\nconst norm=(p)=>(p||'').toString().replace(/\\D/g,'');\nconst clinic=norm(t.phone);\nconst admin=norm(t.admin_phone);\nconst doctor=norm(t.doctor_phone);\nconst seen=new Set();\nconst out=[];\nif(clinic){ seen.add(clinic); out.push({phone:clinic,label:'clínica'}); }\nif(admin && !seen.has(admin)){ seen.add(admin); out.push({phone:admin,label:'admin'}); }\nif(doctor && !seen.has(doctor)){ seen.add(doctor); out.push({phone:doctor,label:'médico'}); }\nreturn out.map(r=>({json:{phone:r.phone,label:r.label,doctor_name:t.doctor_name||'',clinic_name:t.clinic_name||'',tenant_id:t.tenant_id||''}}));"
      }
    },
    {
      "id": "62da131c-ea19-467a-9ae4-da3be1632e66",
      "name": "Send Welcome WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1568,
        -96
      ],
      "parameters": {
        "resource": "messages-api",
        "operation": "send-text",
        "instanceName": "singulare-admin",
        "remoteJid": "={{ $json.phone }}@s.whatsapp.net",
        "messageText": "=Dr(a). {{ $json.doctor_name }}, sua clínica está no ar 🎉\n\nA *{{ $json.clinic_name }}* já tem secretária IA própria. Ela atende seus pacientes no WhatsApp da clínica 24/7 e cuida de agenda, cobrança e lembretes — você fica com o que importa.\n\n*Pra começar:*\n\n→ Painel da clínica: https://app.singulare.org/painel\n→ Guia rápido (12 dúvidas comuns): https://singulare.org/bem-vindo\n\nQualquer coisa, responda este número — somos a Singulare e te ajudamos direto.\n\nBoas consultas. 🩺"
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "evolutionApi": {
          "id": "yFAQwH6wPqroKla0",
          "name": "Evolution account"
        }
      }
    },
    {
      "id": "19b39223-9058-4aa2-85a9-b75badafe852",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        96
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "5749317361",
        "text": "=✅ WhatsApp CONECTADO\\n\\n🏥 {{ $('Lookup Tenant').item.json.clinic_name }}\\n👨‍⚕️ {{ $('Lookup Tenant').item.json.doctor_name }}\\n🆔 {{ $('Lookup Tenant').item.json.tenant_id }}\\n📱 Clínica: {{ $('Lookup Tenant').item.json.phone }}\\n👤 Admin: {{ $('Lookup Tenant').item.json.admin_phone || '(não informado)' }}\\n🩺 Médico: {{ $('Lookup Tenant').item.json.doctor_phone || '(igual ao admin)' }}\\n\\n⚡ IA atendendo agora.\\n💬 Welcome msg enviada via singulare-admin.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "onError": "continueRegularOutput",
      "webhookId": "3be4a51a-4bad-48ee-bf3e-75f18fc8ce2d",
      "credentials": {
        "telegramApi": {
          "id": "sDb6ROA0185exLKN",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "47711d90-9112-497d-b91e-f755b46bca73",
      "name": "Skip (no tenant or already welcomed)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        192
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "skip",
              "name": "skipped_reason",
              "value": "no_tenant_or_already_welcomed",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "1c3a1518-2e85-4599-9142-6fb68cc4c1aa",
      "name": "Respond OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        288
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ok",
              "name": "received",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ts",
              "name": "at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Evolution Event Webhook": {
      "main": [
        [
          {
            "node": "Parse Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event": {
      "main": [
        [
          {
            "node": "Connected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connected?": {
      "main": [
        [
          {
            "node": "Lookup Tenant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Tenant": {
      "main": [
        [
          {
            "node": "Not Welcomed Yet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Welcomed Yet?": {
      "main": [
        [
          {
            "node": "Mark Connected + Welcomed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (no tenant or already welcomed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Connected + Welcomed": {
      "main": [
        [
          {
            "node": "Build Recipients",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Recipients": {
      "main": [
        [
          {
            "node": "Send Welcome WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "errorWorkflow": "rONCEa2neV3XyBBX"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": null,
  "activeVersionId": "c0ff7b03-3ee7-4b0f-baf6-3a942fc2730b",
  "versionCounter": 16,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-04T21:18:47.436Z",
      "createdAt": "2026-05-04T21:18:47.436Z",
      "role": "workflow:owner",
      "workflowId": "0LdgQcogHwx6KVSb",
      "projectId": "2cGyYwvKw4dDUUz9",
      "project": {
        "updatedAt": "2026-05-04T21:21:30.902Z",
        "createdAt": "2026-05-04T21:15:25.493Z",
        "id": "2cGyYwvKw4dDUUz9",
        "name": "Luiz Flavio Sa <luizflaviosa@yahoo.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-15T18:51:49.198Z",
    "createdAt": "2026-05-15T18:51:49.198Z",
    "versionId": "c0ff7b03-3ee7-4b0f-baf6-3a942fc2730b",
    "workflowId": "0LdgQcogHwx6KVSb",
    "nodes": [
      {
        "id": "1684d4cc-9034-4586-95e3-d1a3d9455996",
        "name": "Evolution Event Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          192
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "evolution-events-v44",
          "responseMode": "lastNode",
          "options": {}
        },
        "webhookId": "18e6f205-284d-4c19-a027-2016aed7885b"
      },
      {
        "id": "6707dcc2-161b-4745-8b6a-c582738279f5",
        "name": "Parse Event",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          192
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const inp=$input.first().json||{};const body=inp.body||{};const data=body.data||{};return[{event:body.event||'',instance:body.instance||'',state:data.state||'',is_connected:body.event==='connection.update'&&data.state==='open',raw:body}];"
        }
      },
      {
        "id": "cdf6c351-500c-4f52-8fb3-2185e32ef9e9",
        "name": "Connected?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          192
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose",
              "version": 2,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.is_connected }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "70c4927b-2110-48a7-b9cb-69f4d5b35af7",
        "name": "Lookup Tenant",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          672,
          96
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT tenant_id, doctor_name, clinic_name, phone, admin_phone, doctor_phone, welcomed_at FROM public.tenants WHERE evolution_instance_name = '{{ $json.instance }}' OR tenant_id = '{{ $json.instance }}' LIMIT 1",
          "options": {}
        },
        "alwaysOutputData": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "eef1b403-eaae-459b-9633-f09626512eab",
        "name": "Not Welcomed Yet?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          896,
          96
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose",
              "version": 2,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "has_tenant",
                "leftValue": "={{ $json.tenant_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "no_welcome",
                "leftValue": "={{ $json.welcomed_at }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "a8342985-ada1-4a9e-add8-d2043ea4917d",
        "name": "Mark Connected + Welcomed",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1120,
          0
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE public.tenants SET evolution_status='connected', welcomed_at=NOW(), updated_at=NOW() WHERE tenant_id='{{ $json.tenant_id }}'",
          "options": {}
        },
        "onError": "continueRegularOutput",
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "build-recipients-1",
        "name": "Build Recipients",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          -96
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const t=$('Lookup Tenant').item.json;\nconst norm=(p)=>(p||'').toString().replace(/\\D/g,'');\nconst clinic=norm(t.phone);\nconst admin=norm(t.admin_phone);\nconst doctor=norm(t.doctor_phone);\nconst seen=new Set();\nconst out=[];\nif(clinic){ seen.add(clinic); out.push({phone:clinic,label:'clínica'}); }\nif(admin && !seen.has(admin)){ seen.add(admin); out.push({phone:admin,label:'admin'}); }\nif(doctor && !seen.has(doctor)){ seen.add(doctor); out.push({phone:doctor,label:'médico'}); }\nreturn out.map(r=>({json:{phone:r.phone,label:r.label,doctor_name:t.doctor_name||'',clinic_name:t.clinic_name||'',tenant_id:t.tenant_id||''}}));"
        }
      },
      {
        "id": "62da131c-ea19-467a-9ae4-da3be1632e66",
        "name": "Send Welcome WhatsApp",
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1568,
          -96
        ],
        "parameters": {
          "resource": "messages-api",
          "operation": "send-text",
          "instanceName": "singulare-admin",
          "remoteJid": "={{ $json.phone }}@s.whatsapp.net",
          "messageText": "=Dr(a). {{ $json.doctor_name }}, sua clínica está no ar 🎉\n\nA *{{ $json.clinic_name }}* já tem secretária IA própria. Ela atende seus pacientes no WhatsApp da clínica 24/7 e cuida de agenda, cobrança e lembretes — você fica com o que importa.\n\n*Pra começar:*\n\n→ Painel da clínica: https://app.singulare.org/painel\n→ Guia rápido (12 dúvidas comuns): https://singulare.org/bem-vindo\n\nQualquer coisa, responda este número — somos a Singulare e te ajudamos direto.\n\nBoas consultas. 🩺"
        },
        "onError": "continueRegularOutput",
        "credentials": {
          "evolutionApi": {
            "id": "yFAQwH6wPqroKla0",
            "name": "Evolution account"
          }
        }
      },
      {
        "id": "19b39223-9058-4aa2-85a9-b75badafe852",
        "name": "Notify Admin",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1344,
          96
        ],
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "5749317361",
          "text": "=✅ WhatsApp CONECTADO\\n\\n🏥 {{ $('Lookup Tenant').item.json.clinic_name }}\\n👨‍⚕️ {{ $('Lookup Tenant').item.json.doctor_name }}\\n🆔 {{ $('Lookup Tenant').item.json.tenant_id }}\\n📱 Clínica: {{ $('Lookup Tenant').item.json.phone }}\\n👤 Admin: {{ $('Lookup Tenant').item.json.admin_phone || '(não informado)' }}\\n🩺 Médico: {{ $('Lookup Tenant').item.json.doctor_phone || '(igual ao admin)' }}\\n\\n⚡ IA atendendo agora.\\n💬 Welcome msg enviada via singulare-admin.",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "onError": "continueRegularOutput",
        "webhookId": "3be4a51a-4bad-48ee-bf3e-75f18fc8ce2d",
        "credentials": {
          "telegramApi": {
            "id": "sDb6ROA0185exLKN",
            "name": "Telegram account"
          }
        }
      },
      {
        "id": "47711d90-9112-497d-b91e-f755b46bca73",
        "name": "Skip (no tenant or already welcomed)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          192
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "skip",
                "name": "skipped_reason",
                "value": "no_tenant_or_already_welcomed",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "1c3a1518-2e85-4599-9142-6fb68cc4c1aa",
        "name": "Respond OK",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          288
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "ok",
                "name": "received",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "ts",
                "name": "at",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Evolution Event Webhook": {
        "main": [
          [
            {
              "node": "Parse Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Event": {
        "main": [
          [
            {
              "node": "Connected?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Connected?": {
        "main": [
          [
            {
              "node": "Lookup Tenant",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Tenant": {
        "main": [
          [
            {
              "node": "Not Welcomed Yet?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not Welcomed Yet?": {
        "main": [
          [
            {
              "node": "Mark Connected + Welcomed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Skip (no tenant or already welcomed)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Connected + Welcomed": {
        "main": [
          [
            {
              "node": "Build Recipients",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notify Admin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Recipients": {
        "main": [
          [
            {
              "node": "Send Welcome WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Luiz Flavio Sa",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-15T18:51:49.251Z",
        "id": 306,
        "workflowId": "0LdgQcogHwx6KVSb",
        "versionId": "c0ff7b03-3ee7-4b0f-baf6-3a942fc2730b",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-15T18:51:49.275Z",
        "id": 307,
        "workflowId": "0LdgQcogHwx6KVSb",
        "versionId": "c0ff7b03-3ee7-4b0f-baf6-3a942fc2730b",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:27:04.096Z",
        "id": 422,
        "workflowId": "0LdgQcogHwx6KVSb",
        "versionId": "c0ff7b03-3ee7-4b0f-baf6-3a942fc2730b",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:27:04.117Z",
        "id": 423,
        "workflowId": "0LdgQcogHwx6KVSb",
        "versionId": "c0ff7b03-3ee7-4b0f-baf6-3a942fc2730b",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    ]
  }
}
