n8n/workflows/EaZNHoaKhq0yJsiS-p03-agente-interno-atendimento-operacional-v3-0.json
{
  "id": "EaZNHoaKhq0yJsiS",
  "name": "P03 — Agente Interno · Atendimento Operacional · v3.0",
  "description": "v3.2 — usa credential names que já existem (Google Gemini(PaLM) Api account, Postgres account) pra auto-assignment.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "singulare-internal-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0fa0fd8b-fcfc-4dc7-88dc-1fb45e5bafb8",
      "name": "Receber Chat Web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        112
      ],
      "webhookId": "12415b7d-08bb-4097-b496-633b5234bac8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "t",
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id }}",
              "type": "string"
            },
            {
              "id": "u",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "r",
              "name": "role",
              "value": "={{ $json.body.role || \"owner\" }}",
              "type": "string"
            },
            {
              "id": "c",
              "name": "clinic_name",
              "value": "={{ $json.body.clinic_name || \"sua clínica\" }}",
              "type": "string"
            },
            {
              "id": "s",
              "name": "session_key",
              "value": "={{ \"singulare_chat_\" + ($json.body.tenant_id || \"default\") + \"_\" + ($json.body.user_id || \"anon\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d06edb81-3d06-4891-acd6-f113060f0fcc",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Input').item.json.message }}",
        "options": {
          "systemMessage": "=Você é o assistente interno da {{ $('Set Input').item.json.clinic_name }}.\n\nCONTEXTO TEMPORAL CRÍTICO: Hoje é {{ $now.toFormat('yyyy-MM-dd') }} ({{ $now.setLocale('pt-BR').toFormat('cccc') }}). NUNCA chute datas do treinamento — calcule sempre a partir de hoje.\n\nSEU INTERLOCUTOR: role = \"{{ $('Set Input').item.json.role }}\".\n\n═══ ESCOPO POR ROLE (rígido) ═══\n- doctor → INDIVIDUAL. Backend filtra automaticamente por doctor_id da médica. Diga \"sua agenda\", \"seus pacientes\". NUNCA passe doctor_id em params (é ignorado e confunde). NUNCA cite outros médicos.\n- admin/owner/staff → COLETIVO. Pode ver todos. Pra \"agenda da Dra X\": (1) medicos_listar pra resolver nome→doctor_id, (2) chame a tool passando doctor_id. Sem doctor_id = visão somada.\n- viewer → coletivo, só leitura.\n\n═══ ESTILO DE RESPOSTA ═══\n- 1-2 frases curtas, PT-BR, sem markdown.\n- Comunique o que a tool devolveu. NUNCA invente números, nomes, IDs ou status.\n- Em erro: diga o que houve + ofereça caminho (\"não achei X — quer que eu busque por Y?\").\n\n═══ PROTOCOLO DE WRITES ═══\n- TODA write: SEMPRE mode=\"propose\" primeiro. NUNCA mode=\"execute\" direto.\n- Se dispatch retornar { card }, copie o card como JSON UMA LINHA entre [[CARD]] e [[/CARD]] e PARE — quem confirma é o humano no painel.\n- O usuário ou aprova pelo botão (vira execute automático) ou recusa.\n\n═══ CATÁLOGO POR DOMÍNIO ═══\nUse `singulare_dispatch`. Params em INGLÊS — copie literalmente do schema.\n\n▸ Médicos\n- medicos_listar          → {} → devolve [{doctor_id, name, specialty, crm}]. Doctor vê só ele; admin/owner vê todos.\n\n▸ Agenda (consultar)\n- agenda_hoje             → { doctor_id?: uuid (admin/owner only) } — lista as consultas de hoje.\n- agenda_periodo          → { start: \"YYYY-MM-DD\", end: \"YYYY-MM-DD\", status?: \"booked\"|\"confirmed\"|\"completed\"|\"cancelled\"|\"all\", doctor_id?: uuid (admin/owner) }\n                             Use pra \"esta semana\", \"mês passado\", \"próximas 2 semanas\". Status semântica abaixo.\n- horarios_livres         → { start: \"YYYY-MM-DD\", end: \"YYYY-MM-DD\" (max 28d), slot_minutes?: 30, doctor_id?: uuid (admin/owner) }\n                             Use pra \"tem vaga\", \"horários livres\", \"quando posso encaixar\". Subtrai consultas e bloqueios de working_hours.\n\n▸ Consultas (criar / mexer)\n- consulta_marcar         → WRITE propose. { patient_id OR patient_name (+phone opcional), slot_start: \"YYYY-MM-DDTHH:mm\", duration_minutes?: 60, doctor_id?: uuid (admin/owner), notes?: string }\n                             Cria booking novo em doctor_bookings. NÃO cria evento no Google Calendar (gap conhecido). Se nome ambíguo (>1 match) devolve data.ambiguous → desambigue antes de tentar de novo. Se 0 matches devolve data.missing_patient → chame paciente_criar primeiro.\n- consulta_reagendar      → WRITE propose. { appointment_id: uuid_do_booking, new_date: \"YYYY-MM-DDTHH:mm\" }\n                             Atualiza só DB (Google Calendar pode dessincronizar — card avisa).\n- consulta_cancelar       → WRITE propose. { appointment_id: uuid_do_booking, reason?: string }\n                             Idem.\n\n▸ Bloqueios (ausência)\n- bloquear_horario        → WRITE propose. { start: \"YYYY-MM-DDTHH:mm\", end: \"YYYY-MM-DDTHH:mm\", reason?: string, doctor_id?: uuid (admin/owner) }\n                             Pra ausência PONTUAL (almoço, dentista, viagem curta). Avisa de bookings que caem dentro mas NÃO recusa — usuário decide se reagenda.\n- working_hours_atualizar → WRITE propose com CONFIRMAÇÃO LITERAL POR DIGITAÇÃO. { day: \"seg\"|\"ter\"|\"qua\"|\"qui\"|\"sex\"|\"sab\"|\"dom\", hours: \"HH:MM-HH:MM\"|\"fechado\", doctor_id?: uuid (admin/owner) }\n                             SÓ pra mudança PERMANENTE da rotina semanal (\"agora atendo sábado de manhã\"). NUNCA use pra ausência pontual — use bloquear_horario.\n                             AVISO OBRIGATÓRIO ao usuário ANTES: \"Isso muda o que o agente do WhatsApp informa aos pacientes.\"\n\n▸ Pacientes\n- pacientes_proximos      → { weeks_ahead?: 1-12 (default 2), doctor_id?: uuid (admin/owner) }\n                             Devolve data.patients[] = {name, next_slot, appointments}. Use pra \"quem são\", \"liste os nomes\", \"quais pacientes\".\n- pacientes_count         → { since?: \"YYYY-MM-DD\" } — só conta cadastrados. Use pra \"quantos pacientes tenho ao todo\". Se quiser nomes, use pacientes_proximos.\n- paciente_criar          → WRITE propose. { name: string, phone: \"+55...\", birthdate?: \"YYYY-MM-DD\", email?: string }\n\n▸ Financeiro [coletivo — backend ainda não filtra por médico]\n- pagamentos_status       → { start?: \"YYYY-MM-DD\", end?: \"YYYY-MM-DD\" } — totais do período.\n- pagamentos_pendentes    → { include_overdue_only?: boolean }\n- cobrancas_paciente      → { patient_id? OR patient_name? OR patient_phone? (E.164), since?: \"YYYY-MM-DD\" (default 90d), status?: \"paid\"|\"pending\"|\"overdue\"|\"all\" } — extrato financeiro de UM paciente. Use pra \"cobrancas da Maria\", \"quanto X deve\". Ambiguous/missing igual a consulta_marcar.\n- cobranca_avulsa         → WRITE propose. { paciente_id: uuid, valor: number, descricao: string, metodo?: \"pix\"|\"cartao\"|\"boleto\" }\n\n▸ Documentos\n- documentos_listar       → { paciente_id?: uuid, status?: \"draft\"|\"sent\"|\"signed\"|\"all\", limit?: number, doctor_id?: uuid (admin/owner) }\n- documento_gerar         → WRITE propose. { template_id: uuid, paciente_id: uuid }\n- documento_assinar       → WRITE propose. { documento_id: uuid }\n\n▸ Reputação\n- nps_resumo              → { since?: \"YYYY-MM-DD\" }\n- reviews_externos        → {}\n\n═══ SEMÂNTICA TEMPORAL ═══\n- \"consultas que atendi/realizei/concluí/fiz\" (passado) → status=\"completed\"\n- \"consultas marcadas/agendadas/que tenho/que vou ter\" (futuro) → status=\"booked\" (e se pouco, complemente com \"confirmed\")\n- \"tudo da semana\", \"movimento\" (sem qualificador) → status=\"all\"\n- Janela ENTEIRAMENTE no passado e completed=0: refaça com status=\"all\" e responda \"X consultas no período (Y ainda não foram marcadas como concluídas — me avise se quiser que eu ajuste)\".\n- \"amanhã\", \"hoje\", \"esta semana\": calcule a partir do CONTEXTO TEMPORAL acima (NUNCA do treinamento).\n\n═══ FLUXOS COMUNS ═══\n\n[1] Marcar consulta pra paciente\n   1. (opcional) horarios_livres pra confirmar que o slot que o usuário pediu está livre\n   2. consulta_marcar com patient_name OU patient_id\n   3. Se devolver ambiguous → liste as opções e pergunte qual\n   4. Se devolver missing_patient → confirme se quer criar via paciente_criar; se sim, propose; depois consulta_marcar de novo com o patient_id retornado\n   5. Se conflito de slot → liste o conflito e ofereça achar outro horário (horarios_livres)\n\n[2] Reagendar consulta existente\n   1. agenda_periodo (passado próximo OU futuro próximo) pra achar o appointment_id\n   2. consulta_reagendar com new_date\n\n[3] \"Agenda da Dra X próxima semana\" (admin/owner)\n   1. medicos_listar pra resolver nome → doctor_id\n   2. agenda_periodo com doctor_id e janela calculada\n\n[4] Bloqueio ad-hoc vs mudança permanente\n   - \"vou ao dentista quinta de tarde\" → bloquear_horario\n   - \"agora atendo sábado de manhã\" → working_hours_atualizar (com aviso)\n\n═══ PROIBIÇÕES ═══\n- NUNCA invente patient_id, doctor_id, appointment_id ou qualquer UUID.\n- NUNCA prometa sincronização com Google Calendar (consulta_marcar e bloquear_horario só gravam no Singulare).\n- NUNCA chame mode=\"execute\" direto. SEMPRE propose, deixa o humano confirmar.\n- NUNCA use status=\"scheduled\" (não existe — equivalente é \"booked\").\n- NUNCA cite/exponha pacientes ou agendas de outro médico se role=doctor.\n\n═══ EXEMPLO DE CÁLCULO DE DATAS ═══\nHoje = {{ $now.toFormat('yyyy-MM-dd') }}.\n\"próxima semana\": start = {{ $now.plus({ days: 1 }).startOf('week').toFormat('yyyy-MM-dd') }} | end = {{ $now.plus({ days: 1 }).endOf('week').toFormat('yyyy-MM-dd') }}\n\"este mês\": primeiro até último dia do mês corrente.\n\n═══ EXTRAÇÃO DE CARD ═══\nSe dispatch devolver { card }, copie EXATAMENTE como JSON em UMA linha entre [[CARD]] e [[/CARD]]. Não envolva em markdown. Não comente o card.",
          "maxIterations": 6,
          "enableStreaming": false
        }
      },
      "id": "9d65c93b-bc64-4f8c-bd99-3910524f3c6f",
      "name": "Agente Interno Singulare",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        96
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "71d8e0a6-59de-4210-ae1b-1e8d3f6fc9d3",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        448,
        336
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "IfMvUmMoeAZrytgT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Input').item.json.session_key }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 10
      },
      "id": "e6c3a617-abc2-43dc-9371-dc24bc473f3f",
      "name": "Memória Chat",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        576,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Executa qualquer tool do Singulare. Reads executam direto. Writes — sempre mode=propose.",
        "method": "POST",
        "url": "https://app.singulare.org/api/interno/tools",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tool: $fromAI(\"tool\", \"Nome exato da tool\", \"string\"), params: $fromAI(\"params\", \"Objeto JSON com parâmetros\", \"json\") || {}, tenant_id: $(\"Set Input\").item.json.tenant_id, user_id: $(\"Set Input\").item.json.user_id, role: $(\"Set Input\").item.json.role, mode: $fromAI(\"mode\", \"propose ou execute\", \"string\") || \"propose\" }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "91624794-fe0f-49dd-baf3-935b38a80077",
      "name": "singulare_dispatch",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        720,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "f3EsS9DLhzuhFW6g",
          "name": "Header Auth N8N TO VERCEL"
        }
      }
    },
    {
      "parameters": {},
      "id": "696569e7-8355-4f3d-abd2-b8b851ef1d35",
      "name": "Refletir",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        832,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "5e51266a-7c9e-4a60-a069-81f1166de28d",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        112
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IUFMBjkYRcp20xr7",
          "mode": "list",
          "cachedResultUrl": "/workflow/IUFMBjkYRcp20xr7",
          "cachedResultName": "5. Enviar agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        304
      ],
      "id": "8a009bc8-9042-4a0e-bd40-1757f878d7b5",
      "name": "Call '5. Enviar agendamento'"
    },
    {
      "parameters": {
        "endpointUrl": "http://n8n:5678/mcp/db6bc79d-ba32-41c4-b492-f0f5bbcb8fd3/sse",
        "serverTransport": "sse",
        "authentication": "none",
        "include": "selected",
        "includeTools": [],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        928,
        400
      ],
      "id": "ae46d5d7-c1ce-4714-b084-a9f9ab03a95b",
      "name": "MCP Client"
    },
    {
      "id": "sm-1778263822858",
      "name": "Salvar_memoria",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        400,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Salva mensagem AI no histórico (n8n_historico_mensagens). Use sempre que enviar resposta importante pro paciente via outras tools.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_historico_mensagens"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $fromAI(\"session_id\", \"Telefone E.164 sem +\", \"string\") }}",
            "message": "={ \"type\": \"ai\", \"content\": \"{{ $fromAI('content', 'Mensagem enviada', 'string') }}\" }",
            "tenant_id": "={{ $('Set Input').item.json.tenant_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "le-1778263822858",
      "name": "Ler_emails",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        580,
        600
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "C6feR6xeiwrFJ35Y",
          "name": "Gmail account"
        }
      },
      "webhookId": "le-wh-1778263822858",
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {}
      }
    },
    {
      "id": "ct-1778263822858",
      "name": "Criar_tarefa",
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        760,
        600
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "U8H0pchPJHaNf03t",
          "name": "Google Tasks account"
        }
      },
      "parameters": {
        "task": "YXdwUHJaRVoxWDdudFNGNg",
        "title": "={{ $fromAI(\"Title\", \"Título da tarefa\", \"string\") }}",
        "additionalFields": {
          "dueDate": "={{ $fromAI(\"Due_Date\", \"Data limite ISO\", \"string\") }}",
          "notes": "={{ $fromAI(\"Notes\", \"Notas adicionais\", \"string\") }}",
          "status": "needsAction"
        }
      }
    }
  ],
  "connections": {
    "Receber Chat Web": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Interno Singulare": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória Chat": {
      "ai_memory": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "singulare_dispatch": {
      "ai_tool": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '5. Enviar agendamento'": {
      "ai_tool": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar_memoria": {
      "ai_tool": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ler_emails": {
      "ai_tool": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar_tarefa": {
      "ai_tool": [
        [
          {
            "node": "Agente Interno Singulare",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "errorWorkflow": "rONCEa2neV3XyBBX"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "activeVersionId": "a98967bc-c15b-4a78-b141-8a06b49a1205",
  "versionCounter": 77,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-04T21:18:47.436Z",
      "createdAt": "2026-05-04T21:18:47.436Z",
      "role": "workflow:owner",
      "workflowId": "EaZNHoaKhq0yJsiS",
      "projectId": "2cGyYwvKw4dDUUz9",
      "project": {
        "updatedAt": "2026-05-04T21:21:30.902Z",
        "createdAt": "2026-05-04T21:15:25.493Z",
        "id": "2cGyYwvKw4dDUUz9",
        "name": "Luiz Flavio Sa <luizflaviosa@yahoo.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-11T00:52:16.418Z",
    "createdAt": "2026-05-11T00:52:16.418Z",
    "versionId": "a98967bc-c15b-4a78-b141-8a06b49a1205",
    "workflowId": "EaZNHoaKhq0yJsiS",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "singulare-internal-chat",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "0fa0fd8b-fcfc-4dc7-88dc-1fb45e5bafb8",
        "name": "Receber Chat Web",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          112
        ],
        "webhookId": "12415b7d-08bb-4097-b496-633b5234bac8"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "m",
                "name": "message",
                "value": "={{ $json.body.message }}",
                "type": "string"
              },
              {
                "id": "t",
                "name": "tenant_id",
                "value": "={{ $json.body.tenant_id }}",
                "type": "string"
              },
              {
                "id": "u",
                "name": "user_id",
                "value": "={{ $json.body.user_id }}",
                "type": "string"
              },
              {
                "id": "r",
                "name": "role",
                "value": "={{ $json.body.role || \"owner\" }}",
                "type": "string"
              },
              {
                "id": "c",
                "name": "clinic_name",
                "value": "={{ $json.body.clinic_name || \"sua clínica\" }}",
                "type": "string"
              },
              {
                "id": "s",
                "name": "session_key",
                "value": "={{ \"singulare_chat_\" + ($json.body.tenant_id || \"default\") + \"_\" + ($json.body.user_id || \"anon\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d06edb81-3d06-4891-acd6-f113060f0fcc",
        "name": "Set Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          112
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Set Input').item.json.message }}",
          "options": {
            "systemMessage": "=Você é o assistente interno da {{ $('Set Input').item.json.clinic_name }}.\n\nCONTEXTO TEMPORAL CRÍTICO: Hoje é {{ $now.toFormat('yyyy-MM-dd') }} ({{ $now.setLocale('pt-BR').toFormat('cccc') }}). NUNCA chute datas do treinamento — calcule sempre a partir de hoje.\n\nSEU INTERLOCUTOR: role = \"{{ $('Set Input').item.json.role }}\".\n\n═══ ESCOPO POR ROLE (rígido) ═══\n- doctor → INDIVIDUAL. Backend filtra automaticamente por doctor_id da médica. Diga \"sua agenda\", \"seus pacientes\". NUNCA passe doctor_id em params (é ignorado e confunde). NUNCA cite outros médicos.\n- admin/owner/staff → COLETIVO. Pode ver todos. Pra \"agenda da Dra X\": (1) medicos_listar pra resolver nome→doctor_id, (2) chame a tool passando doctor_id. Sem doctor_id = visão somada.\n- viewer → coletivo, só leitura.\n\n═══ ESTILO DE RESPOSTA ═══\n- 1-2 frases curtas, PT-BR, sem markdown.\n- Comunique o que a tool devolveu. NUNCA invente números, nomes, IDs ou status.\n- Em erro: diga o que houve + ofereça caminho (\"não achei X — quer que eu busque por Y?\").\n\n═══ PROTOCOLO DE WRITES ═══\n- TODA write: SEMPRE mode=\"propose\" primeiro. NUNCA mode=\"execute\" direto.\n- Se dispatch retornar { card }, copie o card como JSON UMA LINHA entre [[CARD]] e [[/CARD]] e PARE — quem confirma é o humano no painel.\n- O usuário ou aprova pelo botão (vira execute automático) ou recusa.\n\n═══ CATÁLOGO POR DOMÍNIO ═══\nUse `singulare_dispatch`. Params em INGLÊS — copie literalmente do schema.\n\n▸ Médicos\n- medicos_listar          → {} → devolve [{doctor_id, name, specialty, crm}]. Doctor vê só ele; admin/owner vê todos.\n\n▸ Agenda (consultar)\n- agenda_hoje             → { doctor_id?: uuid (admin/owner only) } — lista as consultas de hoje.\n- agenda_periodo          → { start: \"YYYY-MM-DD\", end: \"YYYY-MM-DD\", status?: \"booked\"|\"confirmed\"|\"completed\"|\"cancelled\"|\"all\", doctor_id?: uuid (admin/owner) }\n                             Use pra \"esta semana\", \"mês passado\", \"próximas 2 semanas\". Status semântica abaixo.\n- horarios_livres         → { start: \"YYYY-MM-DD\", end: \"YYYY-MM-DD\" (max 28d), slot_minutes?: 30, doctor_id?: uuid (admin/owner) }\n                             Use pra \"tem vaga\", \"horários livres\", \"quando posso encaixar\". Subtrai consultas e bloqueios de working_hours.\n\n▸ Consultas (criar / mexer)\n- consulta_marcar         → WRITE propose. { patient_id OR patient_name (+phone opcional), slot_start: \"YYYY-MM-DDTHH:mm\", duration_minutes?: 60, doctor_id?: uuid (admin/owner), notes?: string }\n                             Cria booking novo em doctor_bookings. NÃO cria evento no Google Calendar (gap conhecido). Se nome ambíguo (>1 match) devolve data.ambiguous → desambigue antes de tentar de novo. Se 0 matches devolve data.missing_patient → chame paciente_criar primeiro.\n- consulta_reagendar      → WRITE propose. { appointment_id: uuid_do_booking, new_date: \"YYYY-MM-DDTHH:mm\" }\n                             Atualiza só DB (Google Calendar pode dessincronizar — card avisa).\n- consulta_cancelar       → WRITE propose. { appointment_id: uuid_do_booking, reason?: string }\n                             Idem.\n\n▸ Bloqueios (ausência)\n- bloquear_horario        → WRITE propose. { start: \"YYYY-MM-DDTHH:mm\", end: \"YYYY-MM-DDTHH:mm\", reason?: string, doctor_id?: uuid (admin/owner) }\n                             Pra ausência PONTUAL (almoço, dentista, viagem curta). Avisa de bookings que caem dentro mas NÃO recusa — usuário decide se reagenda.\n- working_hours_atualizar → WRITE propose com CONFIRMAÇÃO LITERAL POR DIGITAÇÃO. { day: \"seg\"|\"ter\"|\"qua\"|\"qui\"|\"sex\"|\"sab\"|\"dom\", hours: \"HH:MM-HH:MM\"|\"fechado\", doctor_id?: uuid (admin/owner) }\n                             SÓ pra mudança PERMANENTE da rotina semanal (\"agora atendo sábado de manhã\"). NUNCA use pra ausência pontual — use bloquear_horario.\n                             AVISO OBRIGATÓRIO ao usuário ANTES: \"Isso muda o que o agente do WhatsApp informa aos pacientes.\"\n\n▸ Pacientes\n- pacientes_proximos      → { weeks_ahead?: 1-12 (default 2), doctor_id?: uuid (admin/owner) }\n                             Devolve data.patients[] = {name, next_slot, appointments}. Use pra \"quem são\", \"liste os nomes\", \"quais pacientes\".\n- pacientes_count         → { since?: \"YYYY-MM-DD\" } — só conta cadastrados. Use pra \"quantos pacientes tenho ao todo\". Se quiser nomes, use pacientes_proximos.\n- paciente_criar          → WRITE propose. { name: string, phone: \"+55...\", birthdate?: \"YYYY-MM-DD\", email?: string }\n\n▸ Financeiro [coletivo — backend ainda não filtra por médico]\n- pagamentos_status       → { start?: \"YYYY-MM-DD\", end?: \"YYYY-MM-DD\" } — totais do período.\n- pagamentos_pendentes    → { include_overdue_only?: boolean }\n- cobranca_avulsa         → WRITE propose. { paciente_id: uuid, valor: number, descricao: string, metodo?: \"pix\"|\"cartao\"|\"boleto\" }\n\n▸ Documentos\n- documentos_listar       → { paciente_id?: uuid, status?: \"draft\"|\"sent\"|\"signed\"|\"all\", limit?: number, doctor_id?: uuid (admin/owner) }\n- documento_gerar         → WRITE propose. { template_id: uuid, paciente_id: uuid }\n- documento_assinar       → WRITE propose. { documento_id: uuid }\n\n▸ Reputação\n- nps_resumo              → { since?: \"YYYY-MM-DD\" }\n- reviews_externos        → {}\n\n═══ SEMÂNTICA TEMPORAL ═══\n- \"consultas que atendi/realizei/concluí/fiz\" (passado) → status=\"completed\"\n- \"consultas marcadas/agendadas/que tenho/que vou ter\" (futuro) → status=\"booked\" (e se pouco, complemente com \"confirmed\")\n- \"tudo da semana\", \"movimento\" (sem qualificador) → status=\"all\"\n- Janela ENTEIRAMENTE no passado e completed=0: refaça com status=\"all\" e responda \"X consultas no período (Y ainda não foram marcadas como concluídas — me avise se quiser que eu ajuste)\".\n- \"amanhã\", \"hoje\", \"esta semana\": calcule a partir do CONTEXTO TEMPORAL acima (NUNCA do treinamento).\n\n═══ FLUXOS COMUNS ═══\n\n[1] Marcar consulta pra paciente\n   1. (opcional) horarios_livres pra confirmar que o slot que o usuário pediu está livre\n   2. consulta_marcar com patient_name OU patient_id\n   3. Se devolver ambiguous → liste as opções e pergunte qual\n   4. Se devolver missing_patient → confirme se quer criar via paciente_criar; se sim, propose; depois consulta_marcar de novo com o patient_id retornado\n   5. Se conflito de slot → liste o conflito e ofereça achar outro horário (horarios_livres)\n\n[2] Reagendar consulta existente\n   1. agenda_periodo (passado próximo OU futuro próximo) pra achar o appointment_id\n   2. consulta_reagendar com new_date\n\n[3] \"Agenda da Dra X próxima semana\" (admin/owner)\n   1. medicos_listar pra resolver nome → doctor_id\n   2. agenda_periodo com doctor_id e janela calculada\n\n[4] Bloqueio ad-hoc vs mudança permanente\n   - \"vou ao dentista quinta de tarde\" → bloquear_horario\n   - \"agora atendo sábado de manhã\" → working_hours_atualizar (com aviso)\n\n═══ PROIBIÇÕES ═══\n- NUNCA invente patient_id, doctor_id, appointment_id ou qualquer UUID.\n- NUNCA prometa sincronização com Google Calendar (consulta_marcar e bloquear_horario só gravam no Singulare).\n- NUNCA chame mode=\"execute\" direto. SEMPRE propose, deixa o humano confirmar.\n- NUNCA use status=\"scheduled\" (não existe — equivalente é \"booked\").\n- NUNCA cite/exponha pacientes ou agendas de outro médico se role=doctor.\n\n═══ EXEMPLO DE CÁLCULO DE DATAS ═══\nHoje = {{ $now.toFormat('yyyy-MM-dd') }}.\n\"próxima semana\": start = {{ $now.plus({ days: 1 }).startOf('week').toFormat('yyyy-MM-dd') }} | end = {{ $now.plus({ days: 1 }).endOf('week').toFormat('yyyy-MM-dd') }}\n\"este mês\": primeiro até último dia do mês corrente.\n\n═══ EXTRAÇÃO DE CARD ═══\nSe dispatch devolver { card }, copie EXATAMENTE como JSON em UMA linha entre [[CARD]] e [[/CARD]]. Não envolva em markdown. Não comente o card.",
            "maxIterations": 6,
            "enableStreaming": false
          }
        },
        "id": "9d65c93b-bc64-4f8c-bd99-3910524f3c6f",
        "name": "Agente Interno Singulare",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          560,
          96
        ]
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash",
          "options": {
            "temperature": 0.3
          }
        },
        "id": "71d8e0a6-59de-4210-ae1b-1e8d3f6fc9d3",
        "name": "Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          448,
          336
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "IfMvUmMoeAZrytgT",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Set Input').item.json.session_key }}",
          "tableName": "n8n_historico_mensagens",
          "contextWindowLength": 10
        },
        "id": "e6c3a617-abc2-43dc-9371-dc24bc473f3f",
        "name": "Memória Chat",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          576,
          336
        ],
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Executa qualquer tool do Singulare. Reads executam direto. Writes — sempre mode=propose.",
          "method": "POST",
          "url": "https://app.singulare.org/api/interno/tools",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ tool: $fromAI(\"tool\", \"Nome exato da tool\", \"string\"), params: $fromAI(\"params\", \"Objeto JSON com parâmetros\", \"json\") || {}, tenant_id: $(\"Set Input\").item.json.tenant_id, user_id: $(\"Set Input\").item.json.user_id, role: $(\"Set Input\").item.json.role, mode: $fromAI(\"mode\", \"propose ou execute\", \"string\") || \"propose\" }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "91624794-fe0f-49dd-baf3-935b38a80077",
        "name": "singulare_dispatch",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          720,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "f3EsS9DLhzuhFW6g",
            "name": "Header Auth N8N TO VERCEL"
          }
        }
      },
      {
        "parameters": {},
        "id": "696569e7-8355-4f3d-abd2-b8b851ef1d35",
        "name": "Refletir",
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1,
        "position": [
          832,
          336
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.output }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/plain; charset=utf-8"
                }
              ]
            }
          }
        },
        "id": "5e51266a-7c9e-4a60-a069-81f1166de28d",
        "name": "Responder",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1040,
          112
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "IUFMBjkYRcp20xr7",
            "mode": "list",
            "cachedResultUrl": "/workflow/IUFMBjkYRcp20xr7",
            "cachedResultName": "5. Enviar agendamento"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensagem",
                "displayName": "mensagem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_conta",
                "displayName": "id_conta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_conversa",
                "displayName": "id_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          720,
          304
        ],
        "id": "8a009bc8-9042-4a0e-bd40-1757f878d7b5",
        "name": "Call '5. Enviar agendamento'"
      },
      {
        "parameters": {
          "endpointUrl": "http://n8n:5678/mcp/db6bc79d-ba32-41c4-b492-f0f5bbcb8fd3/sse",
          "serverTransport": "sse",
          "authentication": "none",
          "include": "selected",
          "includeTools": [],
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "typeVersion": 1.2,
        "position": [
          928,
          400
        ],
        "id": "ae46d5d7-c1ce-4714-b084-a9f9ab03a95b",
        "name": "MCP Client"
      },
      {
        "id": "sm-1778263822858",
        "name": "Salvar_memoria",
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          400,
          600
        ],
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        },
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Salva mensagem AI no histórico (n8n_historico_mensagens). Use sempre que enviar resposta importante pro paciente via outras tools.",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "n8n_historico_mensagens"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "session_id": "={{ $fromAI(\"session_id\", \"Telefone E.164 sem +\", \"string\") }}",
              "message": "={ \"type\": \"ai\", \"content\": \"{{ $fromAI('content', 'Mensagem enviada', 'string') }}\" }",
              "tenant_id": "={{ $('Set Input').item.json.tenant_id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "message",
                "displayName": "message",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true
              },
              {
                "id": "tenant_id",
                "displayName": "tenant_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        }
      },
      {
        "id": "le-1778263822858",
        "name": "Ler_emails",
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          580,
          600
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "C6feR6xeiwrFJ35Y",
            "name": "Gmail account"
          }
        },
        "webhookId": "le-wh-1778263822858",
        "parameters": {
          "operation": "getAll",
          "limit": 5,
          "filters": {}
        }
      },
      {
        "id": "ct-1778263822858",
        "name": "Criar_tarefa",
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          760,
          600
        ],
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "U8H0pchPJHaNf03t",
            "name": "Google Tasks account"
          }
        },
        "parameters": {
          "task": "YXdwUHJaRVoxWDdudFNGNg",
          "title": "={{ $fromAI(\"Title\", \"Título da tarefa\", \"string\") }}",
          "additionalFields": {
            "dueDate": "={{ $fromAI(\"Due_Date\", \"Data limite ISO\", \"string\") }}",
            "notes": "={{ $fromAI(\"Notes\", \"Notas adicionais\", \"string\") }}",
            "status": "needsAction"
          }
        }
      }
    ],
    "connections": {
      "Receber Chat Web": {
        "main": [
          [
            {
              "node": "Set Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input": {
        "main": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente Interno Singulare": {
        "main": [
          [
            {
              "node": "Responder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memória Chat": {
        "ai_memory": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "singulare_dispatch": {
        "ai_tool": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Refletir": {
        "ai_tool": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Call '5. Enviar agendamento'": {
        "ai_tool": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "MCP Client": {
        "ai_tool": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Salvar_memoria": {
        "ai_tool": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Ler_emails": {
        "ai_tool": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Criar_tarefa": {
        "ai_tool": [
          [
            {
              "node": "Agente Interno Singulare",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Luiz Flavio Sa",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-11T00:52:17.022Z",
        "id": 261,
        "workflowId": "EaZNHoaKhq0yJsiS",
        "versionId": "a98967bc-c15b-4a78-b141-8a06b49a1205",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-11T00:52:17.050Z",
        "id": 262,
        "workflowId": "EaZNHoaKhq0yJsiS",
        "versionId": "a98967bc-c15b-4a78-b141-8a06b49a1205",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:26:56.936Z",
        "id": 412,
        "workflowId": "EaZNHoaKhq0yJsiS",
        "versionId": "a98967bc-c15b-4a78-b141-8a06b49a1205",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:26:56.957Z",
        "id": 413,
        "workflowId": "EaZNHoaKhq0yJsiS",
        "versionId": "a98967bc-c15b-4a78-b141-8a06b49a1205",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    ]
  }
}