n8n/workflows/OqxxLRm33tSe69HS-p01a-pre-router-confirmacao-v1-0.json
{
  "id": "OqxxLRm33tSe69HS",
  "name": "P01a — Pre-Router · Confirmação · v1.0",
  "description": "Sub-workflow chamado pelo Master Secretária. Detecta resposta do paciente à confirmação diária (sim/cancelar/reagendar), atualiza appointments.status, responde via Chatwoot e envia push pro médico. v2: fix LATERAL+COALESCE nos lookups.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "163aa1ed-0766-4baf-8cf5-39b8b24f44f3",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        480
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "tenant_id",
              "type": "string"
            },
            {
              "name": "patient_phone",
              "type": "string"
            },
            {
              "name": "mensagem",
              "type": "string"
            },
            {
              "name": "id_conta",
              "type": "string"
            },
            {
              "name": "id_conversa",
              "type": "string"
            },
            {
              "name": "url_chatwoot",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "4b9bda44-d5d7-4c80-bced-713307fa84b8",
      "name": "Lookup Recent Confirmation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        480
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT\n  COALESCE(m.id, 0) AS id,\n  m.created_at,\n  CASE WHEN m.id IS NULL THEN false ELSE true END AS has_recent\nFROM (VALUES (1)) AS dummy(d)\nLEFT JOIN LATERAL (\n  SELECT id, created_at\n  FROM public.n8n_historico_mensagens\n  WHERE session_id = '{{ $('When Called').item.json.patient_phone }}'\n    AND created_at > now() - interval '18 hours'\n    AND message::text ILIKE '%confirm%'\n    AND message::text ILIKE '%\"ai\"%'\n  ORDER BY created_at DESC\n  LIMIT 1\n) m ON true",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "6e79ee51-7df6-47d1-b708-429d41c1042c",
      "name": "Foi enviada confirmação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hs",
              "leftValue": "={{ $json.has_recent }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "2ac572af-5141-4e38-b138-a9682dd823b5",
      "name": "Find Upcoming Appointment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        672,
        384
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT\n  COALESCE(a.id::text, '') AS id,\n  COALESCE(a.doctor_name, '') AS doctor_name,\n  a.appointment_date,\n  COALESCE(a.status, '') AS status,\n  COALESCE(a.patient_name, 'Paciente') AS patient_name,\n  CASE WHEN a.id IS NULL THEN false ELSE true END AS has_appointment\nFROM (VALUES (1)) AS dummy(d)\nLEFT JOIN LATERAL (\n  SELECT id, doctor_name, appointment_date, status, patient_name\n  FROM public.appointments_detailed\n  WHERE patient_phone = '{{ $('When Called').item.json.patient_phone }}'\n    AND appointment_date BETWEEN now() AND now() + interval '48 hours'\n    AND status = 'scheduled'\n  ORDER BY appointment_date ASC\n  LIMIT 1\n) a ON true",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "f4b58c4e-7261-41d4-8fa6-989e46c6c6e4",
      "name": "Tem consulta próxima?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        384
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ha",
              "leftValue": "={{ $json.has_appointment }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "7bc598bf-e52f-4689-b432-015fa1871f33",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        288
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const raw = ($('When Called').item.json.mensagem || '').toLowerCase().trim();\nconst norm = raw.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst hasCancel = /\\b(cancel|nao vou|nao posso|nao consigo|desisti|nao darei|n[aã]o\\s+vou)\\b/.test(norm)\n  || /\\bnao\\b/.test(norm) && !/\\bnao\\s+(sei|tenho|lembro)\\b/.test(norm);\nconst hasReschedule = /\\b(reagend|remarc|adiar|outro\\s+(dia|hor[aá]rio)|transfer|mudar.*hor|trocar.*hor)\\b/.test(norm);\nconst hasConfirm = /\\b(sim|confirm|ok|claro|perfeito|combinado|estarei|vou\\s+sim|estou|certo|beleza|pode\\s+ser|tudo\\s+certo|positivo)\\b/.test(norm)\n  || /^(s|sim|👍|✅|✔)$/i.test(raw)\n  || /[👍✅✔🆗]/.test(raw);\nlet intent = 'unknown';\nif (hasCancel && !hasConfirm) intent = 'cancel';\nelse if (hasReschedule) intent = 'reschedule';\nelse if (hasConfirm) intent = 'confirm';\nconst apt = $('Find Upcoming Appointment').item.json;\nreturn {\n  json: {\n    intent,\n    appointment_id: apt.id,\n    appointment_date: apt.appointment_date,\n    doctor_name: apt.doctor_name,\n    patient_name: apt.patient_name || 'Paciente',\n    raw_message: raw\n  }\n};"
      }
    },
    {
      "id": "deb48817-f99f-4591-87fe-1a9fcc6f741a",
      "name": "Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1344,
        256
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "i-c",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "i-r",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reschedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "i-x",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "d6667700-bad6-43f7-8083-0db28576b140",
      "name": "Update Appointment Confirmed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1568,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.appointments\nSET status = 'confirmed', updated_at = now()\nWHERE id = '{{ $('Classify Intent').item.json.appointment_id }}'\nRETURNING id, status",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "46a3826b-5454-4892-9430-316bd18e9f71",
      "name": "Reply Confirmação",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1792,
        0
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "IUFMBjkYRcp20xr7",
          "mode": "list",
          "cachedResultName": "5. Enviar agendamento"
        },
        "mode": "once",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "Combinado! 💜 Sua consulta está confirmada. Te esperamos no horário marcado. Qualquer imprevisto é só me avisar por aqui.",
            "id_conta": "={{ $('When Called').item.json.id_conta }}",
            "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "8b97c89b-7963-46b0-b852-e4a76720d8ff",
      "name": "Push Doctor: Confirmed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL }}/api/n8n/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_TO_VERCEL_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('When Called').item.json.tenant_id }}\",\n  \"type\": \"appointment_confirmed\",\n  \"title\": \"✅ {{ $('Classify Intent').item.json.patient_name }} confirmou\",\n  \"body\": \"Consulta com {{ $('Classify Intent').item.json.doctor_name }} — {{ $('Classify Intent').item.json.appointment_date.split('T')[0] }}\",\n  \"url\": \"/painel/agenda\",\n  \"priority\": \"normal\",\n  \"tag\": \"apt-{{ $('Classify Intent').item.json.appointment_id }}\",\n  \"data\": {\n    \"appointment_id\": \"{{ $('Classify Intent').item.json.appointment_id }}\",\n    \"patient_phone\": \"{{ $('When Called').item.json.patient_phone }}\"\n  }\n}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "9928cffd-27c4-4d73-b761-4c0a6b6ad980",
      "name": "Output Confirmed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "o1",
              "name": "handled",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "o2",
              "name": "action",
              "value": "confirmed",
              "type": "string"
            },
            {
              "id": "o3",
              "name": "appointment_id",
              "value": "={{ $('Classify Intent').item.json.appointment_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "1bd91af2-382f-4e76-b13d-3990a5453e4f",
      "name": "Push Doctor: Reschedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL }}/api/n8n/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_TO_VERCEL_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('When Called').item.json.tenant_id }}\",\n  \"type\": \"appointment_reschedule_request\",\n  \"title\": \"🔄 {{ $('Classify Intent').item.json.patient_name }} pediu remarcação\",\n  \"body\": \"Consulta com {{ $('Classify Intent').item.json.doctor_name }} — {{ $('Classify Intent').item.json.appointment_date.split('T')[0] }}. Secretária IA está cuidando.\",\n  \"url\": \"/painel/agenda\",\n  \"priority\": \"high\",\n  \"tag\": \"apt-{{ $('Classify Intent').item.json.appointment_id }}\",\n  \"data\": {\n    \"appointment_id\": \"{{ $('Classify Intent').item.json.appointment_id }}\",\n    \"patient_phone\": \"{{ $('When Called').item.json.patient_phone }}\"\n  }\n}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a5d03ddb-9d34-4119-aea5-8f0599cd6b3c",
      "name": "Output Reschedule",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        192
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "r2",
              "name": "action",
              "value": "reschedule_request",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "93c7e240-f45f-4ae6-8a69-12af64559f3e",
      "name": "Push Doctor: Cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        384
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL }}/api/n8n/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_TO_VERCEL_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('When Called').item.json.tenant_id }}\",\n  \"type\": \"appointment_cancel_request\",\n  \"title\": \"❌ {{ $('Classify Intent').item.json.patient_name }} cancelou\",\n  \"body\": \"Consulta com {{ $('Classify Intent').item.json.doctor_name }} — {{ $('Classify Intent').item.json.appointment_date.split('T')[0] }}. Secretária IA vai responder.\",\n  \"url\": \"/painel/agenda\",\n  \"priority\": \"high\",\n  \"tag\": \"apt-{{ $('Classify Intent').item.json.appointment_id }}\",\n  \"data\": {\n    \"appointment_id\": \"{{ $('Classify Intent').item.json.appointment_id }}\",\n    \"patient_phone\": \"{{ $('When Called').item.json.patient_phone }}\"\n  }\n}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "7d2b6342-50a7-48e6-bb18-6e46387866cc",
      "name": "Output Cancel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        384
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "c2",
              "name": "action",
              "value": "cancel_request",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "dc522d5f-b60c-4c04-8329-46095b178964",
      "name": "Output Unknown Intent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        576
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "u1",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "u2",
              "name": "action",
              "value": "unknown_intent",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "40c33641-8fee-4048-afbe-2e3f0028f769",
      "name": "Output No Appointment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        480
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "na1",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "na2",
              "name": "action",
              "value": "no_upcoming_appointment",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "0efe0819-cef2-4ab6-add0-6a54376096b1",
      "name": "Output Not Handled",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        576
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "n1",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "n2",
              "name": "action",
              "value": "no_pending_confirmation",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Lookup Recent Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Recent Confirmation": {
      "main": [
        [
          {
            "node": "Foi enviada confirmação?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foi enviada confirmação?": {
      "main": [
        [
          {
            "node": "Find Upcoming Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output Not Handled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Upcoming Appointment": {
      "main": [
        [
          {
            "node": "Tem consulta próxima?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem consulta próxima?": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output No Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Intent Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Switch": {
      "main": [
        [
          {
            "node": "Update Appointment Confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push Doctor: Reschedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push Doctor: Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output Unknown Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment Confirmed": {
      "main": [
        [
          {
            "node": "Reply Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Confirmação": {
      "main": [
        [
          {
            "node": "Push Doctor: Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Doctor: Confirmed": {
      "main": [
        [
          {
            "node": "Output Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Doctor: Reschedule": {
      "main": [
        [
          {
            "node": "Output Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Doctor: Cancel": {
      "main": [
        [
          {
            "node": "Output Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "errorWorkflow": "rONCEa2neV3XyBBX"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": null,
  "activeVersionId": "57cd3b18-f073-42b8-93a8-e24c1e33a58a",
  "versionCounter": 16,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-04T21:18:47.436Z",
      "createdAt": "2026-05-04T21:18:47.436Z",
      "role": "workflow:owner",
      "workflowId": "OqxxLRm33tSe69HS",
      "projectId": "2cGyYwvKw4dDUUz9",
      "project": {
        "updatedAt": "2026-05-04T21:21:30.902Z",
        "createdAt": "2026-05-04T21:15:25.493Z",
        "id": "2cGyYwvKw4dDUUz9",
        "name": "Luiz Flavio Sa <luizflaviosa@yahoo.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-04T22:33:56.828Z",
    "createdAt": "2026-05-04T21:18:47.436Z",
    "versionId": "57cd3b18-f073-42b8-93a8-e24c1e33a58a",
    "workflowId": "OqxxLRm33tSe69HS",
    "nodes": [
      {
        "id": "163aa1ed-0766-4baf-8cf5-39b8b24f44f3",
        "name": "When Called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          480
        ],
        "parameters": {
          "inputSource": "workflowInputs",
          "workflowInputs": {
            "values": [
              {
                "name": "tenant_id",
                "type": "string"
              },
              {
                "name": "patient_phone",
                "type": "string"
              },
              {
                "name": "mensagem",
                "type": "string"
              },
              {
                "name": "id_conta",
                "type": "string"
              },
              {
                "name": "id_conversa",
                "type": "string"
              },
              {
                "name": "url_chatwoot",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "4b9bda44-d5d7-4c80-bced-713307fa84b8",
        "name": "Lookup Recent Confirmation",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          224,
          480
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT\n  COALESCE(m.id, 0) AS id,\n  m.created_at,\n  CASE WHEN m.id IS NULL THEN false ELSE true END AS has_recent\nFROM (VALUES (1)) AS dummy(d)\nLEFT JOIN LATERAL (\n  SELECT id, created_at\n  FROM public.n8n_historico_mensagens\n  WHERE session_id = '{{ $('When Called').item.json.patient_phone }}'\n    AND created_at > now() - interval '18 hours'\n    AND message::text ILIKE '%confirm%'\n    AND message::text ILIKE '%\"ai\"%'\n  ORDER BY created_at DESC\n  LIMIT 1\n) m ON true",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "6e79ee51-7df6-47d1-b708-429d41c1042c",
        "name": "Foi enviada confirmação?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          480
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "hs",
                "leftValue": "={{ $json.has_recent }}",
                "rightValue": "={{ true }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "2ac572af-5141-4e38-b138-a9682dd823b5",
        "name": "Find Upcoming Appointment",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          672,
          384
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT\n  COALESCE(a.id::text, '') AS id,\n  COALESCE(a.doctor_name, '') AS doctor_name,\n  a.appointment_date,\n  COALESCE(a.status, '') AS status,\n  COALESCE(a.patient_name, 'Paciente') AS patient_name,\n  CASE WHEN a.id IS NULL THEN false ELSE true END AS has_appointment\nFROM (VALUES (1)) AS dummy(d)\nLEFT JOIN LATERAL (\n  SELECT id, doctor_name, appointment_date, status, patient_name\n  FROM public.appointments_detailed\n  WHERE patient_phone = '{{ $('When Called').item.json.patient_phone }}'\n    AND appointment_date BETWEEN now() AND now() + interval '48 hours'\n    AND status = 'scheduled'\n  ORDER BY appointment_date ASC\n  LIMIT 1\n) a ON true",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "f4b58c4e-7261-41d4-8fa6-989e46c6c6e4",
        "name": "Tem consulta próxima?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          896,
          384
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "ha",
                "leftValue": "={{ $json.has_appointment }}",
                "rightValue": "={{ true }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "7bc598bf-e52f-4689-b432-015fa1871f33",
        "name": "Classify Intent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          288
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const raw = ($('When Called').item.json.mensagem || '').toLowerCase().trim();\nconst norm = raw.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst hasCancel = /\\b(cancel|nao vou|nao posso|nao consigo|desisti|nao darei|n[aã]o\\s+vou)\\b/.test(norm)\n  || /\\bnao\\b/.test(norm) && !/\\bnao\\s+(sei|tenho|lembro)\\b/.test(norm);\nconst hasReschedule = /\\b(reagend|remarc|adiar|outro\\s+(dia|hor[aá]rio)|transfer|mudar.*hor|trocar.*hor)\\b/.test(norm);\nconst hasConfirm = /\\b(sim|confirm|ok|claro|perfeito|combinado|estarei|vou\\s+sim|estou|certo|beleza|pode\\s+ser|tudo\\s+certo|positivo)\\b/.test(norm)\n  || /^(s|sim|👍|✅|✔)$/i.test(raw)\n  || /[👍✅✔🆗]/.test(raw);\nlet intent = 'unknown';\nif (hasCancel && !hasConfirm) intent = 'cancel';\nelse if (hasReschedule) intent = 'reschedule';\nelse if (hasConfirm) intent = 'confirm';\nconst apt = $('Find Upcoming Appointment').item.json;\nreturn {\n  json: {\n    intent,\n    appointment_id: apt.id,\n    appointment_date: apt.appointment_date,\n    doctor_name: apt.doctor_name,\n    patient_name: apt.patient_name || 'Paciente',\n    raw_message: raw\n  }\n};"
        }
      },
      {
        "id": "deb48817-f99f-4591-87fe-1a9fcc6f741a",
        "name": "Intent Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1344,
          256
        ],
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "i-c",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "confirm",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Confirm"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "i-r",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "reschedule",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Reschedule"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "i-x",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "cancel",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cancel"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        }
      },
      {
        "id": "d6667700-bad6-43f7-8083-0db28576b140",
        "name": "Update Appointment Confirmed",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1568,
          0
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE public.appointments\nSET status = 'confirmed', updated_at = now()\nWHERE id = '{{ $('Classify Intent').item.json.appointment_id }}'\nRETURNING id, status",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "46a3826b-5454-4892-9430-316bd18e9f71",
        "name": "Reply Confirmação",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1792,
          0
        ],
        "parameters": {
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "IUFMBjkYRcp20xr7",
            "mode": "list",
            "cachedResultName": "5. Enviar agendamento"
          },
          "mode": "once",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensagem": "Combinado! 💜 Sua consulta está confirmada. Te esperamos no horário marcado. Qualquer imprevisto é só me avisar por aqui.",
              "id_conta": "={{ $('When Called').item.json.id_conta }}",
              "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
              "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensagem",
                "displayName": "mensagem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conta",
                "displayName": "id_conta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conversa",
                "displayName": "id_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "8b97c89b-7963-46b0-b852-e4a76720d8ff",
        "name": "Push Doctor: Confirmed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2016,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.APP_BASE_URL }}/api/n8n/push",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.N8N_TO_VERCEL_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"tenant_id\": \"{{ $('When Called').item.json.tenant_id }}\",\n  \"type\": \"appointment_confirmed\",\n  \"title\": \"✅ {{ $('Classify Intent').item.json.patient_name }} confirmou\",\n  \"body\": \"Consulta com {{ $('Classify Intent').item.json.doctor_name }} — {{ $('Classify Intent').item.json.appointment_date.split('T')[0] }}\",\n  \"url\": \"/painel/agenda\",\n  \"priority\": \"normal\",\n  \"tag\": \"apt-{{ $('Classify Intent').item.json.appointment_id }}\",\n  \"data\": {\n    \"appointment_id\": \"{{ $('Classify Intent').item.json.appointment_id }}\",\n    \"patient_phone\": \"{{ $('When Called').item.json.patient_phone }}\"\n  }\n}",
          "options": {}
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "9928cffd-27c4-4d73-b761-4c0a6b6ad980",
        "name": "Output Confirmed",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2240,
          0
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "o1",
                "name": "handled",
                "value": "={{ true }}",
                "type": "boolean"
              },
              {
                "id": "o2",
                "name": "action",
                "value": "confirmed",
                "type": "string"
              },
              {
                "id": "o3",
                "name": "appointment_id",
                "value": "={{ $('Classify Intent').item.json.appointment_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "1bd91af2-382f-4e76-b13d-3990a5453e4f",
        "name": "Push Doctor: Reschedule",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1568,
          192
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.APP_BASE_URL }}/api/n8n/push",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.N8N_TO_VERCEL_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"tenant_id\": \"{{ $('When Called').item.json.tenant_id }}\",\n  \"type\": \"appointment_reschedule_request\",\n  \"title\": \"🔄 {{ $('Classify Intent').item.json.patient_name }} pediu remarcação\",\n  \"body\": \"Consulta com {{ $('Classify Intent').item.json.doctor_name }} — {{ $('Classify Intent').item.json.appointment_date.split('T')[0] }}. Secretária IA está cuidando.\",\n  \"url\": \"/painel/agenda\",\n  \"priority\": \"high\",\n  \"tag\": \"apt-{{ $('Classify Intent').item.json.appointment_id }}\",\n  \"data\": {\n    \"appointment_id\": \"{{ $('Classify Intent').item.json.appointment_id }}\",\n    \"patient_phone\": \"{{ $('When Called').item.json.patient_phone }}\"\n  }\n}",
          "options": {}
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "a5d03ddb-9d34-4119-aea5-8f0599cd6b3c",
        "name": "Output Reschedule",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1792,
          192
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "r1",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "r2",
                "name": "action",
                "value": "reschedule_request",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "93c7e240-f45f-4ae6-8a69-12af64559f3e",
        "name": "Push Doctor: Cancel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1568,
          384
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.APP_BASE_URL }}/api/n8n/push",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.N8N_TO_VERCEL_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"tenant_id\": \"{{ $('When Called').item.json.tenant_id }}\",\n  \"type\": \"appointment_cancel_request\",\n  \"title\": \"❌ {{ $('Classify Intent').item.json.patient_name }} cancelou\",\n  \"body\": \"Consulta com {{ $('Classify Intent').item.json.doctor_name }} — {{ $('Classify Intent').item.json.appointment_date.split('T')[0] }}. Secretária IA vai responder.\",\n  \"url\": \"/painel/agenda\",\n  \"priority\": \"high\",\n  \"tag\": \"apt-{{ $('Classify Intent').item.json.appointment_id }}\",\n  \"data\": {\n    \"appointment_id\": \"{{ $('Classify Intent').item.json.appointment_id }}\",\n    \"patient_phone\": \"{{ $('When Called').item.json.patient_phone }}\"\n  }\n}",
          "options": {}
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "7d2b6342-50a7-48e6-bb18-6e46387866cc",
        "name": "Output Cancel",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1792,
          384
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "c1",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "c2",
                "name": "action",
                "value": "cancel_request",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "dc522d5f-b60c-4c04-8329-46095b178964",
        "name": "Output Unknown Intent",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          576
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "u1",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "u2",
                "name": "action",
                "value": "unknown_intent",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "40c33641-8fee-4048-afbe-2e3f0028f769",
        "name": "Output No Appointment",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          480
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "na1",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "na2",
                "name": "action",
                "value": "no_upcoming_appointment",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "0efe0819-cef2-4ab6-add0-6a54376096b1",
        "name": "Output Not Handled",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          576
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "n1",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "n2",
                "name": "action",
                "value": "no_pending_confirmation",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "When Called": {
        "main": [
          [
            {
              "node": "Lookup Recent Confirmation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Recent Confirmation": {
        "main": [
          [
            {
              "node": "Foi enviada confirmação?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Foi enviada confirmação?": {
        "main": [
          [
            {
              "node": "Find Upcoming Appointment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Output Not Handled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Upcoming Appointment": {
        "main": [
          [
            {
              "node": "Tem consulta próxima?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem consulta próxima?": {
        "main": [
          [
            {
              "node": "Classify Intent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Output No Appointment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Classify Intent": {
        "main": [
          [
            {
              "node": "Intent Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Switch": {
        "main": [
          [
            {
              "node": "Update Appointment Confirmed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Push Doctor: Reschedule",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Push Doctor: Cancel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Output Unknown Intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Appointment Confirmed": {
        "main": [
          [
            {
              "node": "Reply Confirmação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply Confirmação": {
        "main": [
          [
            {
              "node": "Push Doctor: Confirmed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Doctor: Confirmed": {
        "main": [
          [
            {
              "node": "Output Confirmed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Doctor: Reschedule": {
        "main": [
          [
            {
              "node": "Output Reschedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Doctor: Cancel": {
        "main": [
          [
            {
              "node": "Output Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "import",
    "name": "Version 57cd3b18",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-04T22:33:56.822Z",
        "id": 17,
        "workflowId": "OqxxLRm33tSe69HS",
        "versionId": "57cd3b18-f073-42b8-93a8-e24c1e33a58a",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:04:52.784Z",
        "id": 385,
        "workflowId": "OqxxLRm33tSe69HS",
        "versionId": "57cd3b18-f073-42b8-93a8-e24c1e33a58a",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:04:52.809Z",
        "id": 386,
        "workflowId": "OqxxLRm33tSe69HS",
        "versionId": "57cd3b18-f073-42b8-93a8-e24c1e33a58a",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:26:53.634Z",
        "id": 408,
        "workflowId": "OqxxLRm33tSe69HS",
        "versionId": "57cd3b18-f073-42b8-93a8-e24c1e33a58a",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:26:53.653Z",
        "id": 409,
        "workflowId": "OqxxLRm33tSe69HS",
        "versionId": "57cd3b18-f073-42b8-93a8-e24c1e33a58a",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    ]
  }
}
