n8n/workflows/za2wHad8JCEtyCFd-t08-send-drive-file-v1-0.json
{
  "id": "za2wHad8JCEtyCFd",
  "name": "T08 — send_drive_file · v1.0",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_id"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -260,
        420
      ],
      "id": "fac9555b-0a1e-48cd-aeff-13fbb454bdff",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -40,
        420
      ],
      "id": "9a3f0022-28bf-4040-91e9-af70d0851262",
      "name": "Baixar arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZegivNH5EouVTbBe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dda3d7-4505-4d03-b70f-63f5c005c0c3",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        420
      ],
      "id": "70f4f562-1501-4d62-8ab0-c318612a3fda",
      "name": "Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        420
      ],
      "id": "392500f1-5b68-43bd-86e2-f9e4332fba03",
      "name": "Enviar arquivo",
      "credentials": {
        "chatwootApi": {
          "id": "6RGRnozwwfQx8hHl",
          "name": "ChatWoot account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Baixar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar arquivo": {
      "main": [
        [
          {
            "node": "Enviar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 16,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-04T21:18:47.436Z",
      "createdAt": "2026-05-04T21:18:47.436Z",
      "role": "workflow:owner",
      "workflowId": "za2wHad8JCEtyCFd",
      "projectId": "2cGyYwvKw4dDUUz9",
      "project": {
        "updatedAt": "2026-05-04T21:21:30.902Z",
        "createdAt": "2026-05-04T21:15:25.493Z",
        "id": "2cGyYwvKw4dDUUz9",
        "name": "Luiz Flavio Sa <luizflaviosa@yahoo.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
