n8n/workflows/ZWzRBjClOdA5xRNQ-p01b-pre-router-nps-v1-0.json
{
  "id": "ZWzRBjClOdA5xRNQ",
  "name": "P01b — Pre-Router · NPS · v1.0",
  "description": "FIX v2: COALESCE força valores não-NULL — n8n Postgres descartava row com todos NULLs. Lookup agora retorna id=0/has_pending=false quando sem pending NPS.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "0ea5426f-51c4-4d83-8416-64044aa10aee",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        592
      ],
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"tenant_id\": \"singulare\",\n  \"patient_phone\": \"+5511987654321\",\n  \"mensagem\": \"9\",\n  \"id_conta\": \"1\",\n  \"id_conversa\": \"123\",\n  \"url_chatwoot\": \"https://chatwoot.singulare.org\"\n}"
      }
    },
    {
      "id": "df2b49e2-d0d4-48cf-936a-ce43ba24e419",
      "name": "Lookup Pending NPS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        592
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  COALESCE(pf.id, 0) AS id,\n  COALESCE(pf.status, 'no_pending') AS status,\n  pf.nps_score,\n  CASE WHEN pf.id IS NULL THEN false ELSE true END AS has_pending\nFROM (VALUES (1)) AS dummy(d)\nLEFT JOIN LATERAL (\n  SELECT id, status, nps_score\n  FROM public.patient_feedback\n  WHERE tenant_id = '{{ $json.tenant_id }}'\n    AND patient_phone = '{{ $json.patient_phone }}'\n    AND status IN ('pending', 'awaiting_followup')\n    AND sent_at > now() - interval '24 hours'\n  ORDER BY sent_at DESC\n  LIMIT 1\n) pf ON true",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ed02ca91-967d-4eb1-bddf-dd4326af9f20",
      "name": "Tem pendente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        592
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ $json.has_pending }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "62a746f4-3cac-4bb8-bf57-7bfe6dee69c4",
      "name": "NPS Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        672,
        464
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rt-p",
                    "leftValue": "={{ $('Lookup Pending NPS').item.json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rt-fu",
                    "leftValue": "={{ $('Lookup Pending NPS').item.json.status }}",
                    "rightValue": "awaiting_followup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Followup"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "8ea560de-6ac4-494b-92c4-9be7493d17ea",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        112
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "function parseNpsScore(message) {\n  if (!message || typeof message !== 'string') return null;\n  const matches = message.matchAll(/\\b(\\d{1,3})\\b/g);\n  for (const m of matches) {\n    const n = Number(m[1]);\n    if (Number.isInteger(n) && n >= 0 && n <= 10) return n;\n  }\n  return null;\n}\nconst input = $('When Called').item.json;\nconst lookup = $('Lookup Pending NPS').item.json;\nconst score = parseNpsScore(input.mensagem);\nreturn { json: {\n  ...input,\n  feedback_id: lookup.id,\n  score\n}};"
      }
    },
    {
      "id": "64415ad8-2700-4a1d-b3a8-0d31b1635e8a",
      "name": "Score parsed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        112
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "sp-notnull",
              "leftValue": "={{ $json.score }}",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "sp",
              "leftValue": "={{ $json.score }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "aff72888-007a-4b42-a937-8e514ce72a7d",
      "name": "Save NPS Score",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        96
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patient_feedback\nSET nps_score = {{ $json.score }},\n    responded_at = now(),\n    status = CASE WHEN {{ $json.score }} <= 6 THEN 'awaiting_followup' ELSE 'closed' END\nWHERE id = {{ $json.feedback_id }}\nRETURNING status, nps_score",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ca0ea8af-07f5-401a-a05e-8f0e5f9ffda1",
      "name": "Score <= 6?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        96
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "low",
              "leftValue": "={{ $('Parse Score').item.json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "83e2ade0-bda7-4283-9a4a-f320754df893",
      "name": "Reply Followup Ask",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1792,
        0
      ],
      "parameters": {
        "source": "database",
        "mode": "each",
        "workflowId": {
          "__rl": true,
          "value": "IUFMBjkYRcp20xr7",
          "mode": "list",
          "cachedResultName": "5. Enviar agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "Obrigada pela nota 🙏\nO que podemos melhorar pra próxima vez?",
            "id_conta": "={{ $('When Called').item.json.id_conta }}",
            "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "b1a1e253-3026-405e-a3e5-a914a4697dd3",
      "name": "Return: handled score",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        96
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "h",
              "name": "handled",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "a",
              "name": "action",
              "value": "score",
              "type": "string"
            },
            {
              "id": "s",
              "name": "score",
              "value": "={{ $('Parse Score').item.json.score }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "2a063117-fc7a-4f3a-be48-0cab592e58c9",
      "name": "Reply Thanks",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1792,
        192
      ],
      "parameters": {
        "source": "database",
        "mode": "each",
        "workflowId": {
          "__rl": true,
          "value": "IUFMBjkYRcp20xr7",
          "mode": "list",
          "cachedResultName": "5. Enviar agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "Obrigada pelo retorno! Que bom que correu bem 💜",
            "id_conta": "={{ $('When Called').item.json.id_conta }}",
            "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "e886940e-8e6f-4e64-a658-53059c9ac15e",
      "name": "Return: passthrough (texto sem score)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        288
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "h",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "a",
              "name": "action",
              "value": "passthrough",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "56aa3054-a839-4651-91c5-2565d179c188",
      "name": "Save Followup Text",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        480
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patient_feedback\nSET feedback_text = '{{ ($('When Called').item.json.mensagem || '').replaceAll(\"'\", \"''\") }}',\n    responded_at = now(),\n    status = 'closed'\nWHERE id = {{ $('Lookup Pending NPS').item.json.id }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "2MWvHIrEZHdAbAz1",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "892fd0ad-e190-499e-a9f6-4c0688a362c8",
      "name": "Reply Ack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        480
      ],
      "parameters": {
        "source": "database",
        "mode": "each",
        "workflowId": {
          "__rl": true,
          "value": "IUFMBjkYRcp20xr7",
          "mode": "list",
          "cachedResultName": "5. Enviar agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "Anotado, obrigada por contribuir 💜",
            "id_conta": "={{ $('When Called').item.json.id_conta }}",
            "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
            "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "2b751e1c-43a7-4e78-a912-22921bba87e9",
      "name": "Return: handled followup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        480
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "h",
              "name": "handled",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "a",
              "name": "action",
              "value": "followup",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "409ccd6d-4e60-4e05-920c-afd4dd8ff2ab",
      "name": "Return: passthrough (fallback)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        672
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "h",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "a",
              "name": "action",
              "value": "passthrough",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "099c5b6d-4ef6-43dd-bf55-fe85c871f03d",
      "name": "Return: passthrough (sem pending)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        688
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "h",
              "name": "handled",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "a",
              "name": "action",
              "value": "passthrough",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/marketing-nps-review",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"feedback_id\": {{ $('Lookup Pending NPS').item.json.id }}\n}",
        "options": {
          "timeout": 8000,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "trigger-mkt-review",
      "name": "Trigger Marketing Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        280
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Lookup Pending NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Pending NPS": {
      "main": [
        [
          {
            "node": "Tem pendente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem pendente?": {
      "main": [
        [
          {
            "node": "NPS Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return: passthrough (sem pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NPS Router": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Followup Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return: passthrough (fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Score parsed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score parsed?": {
      "main": [
        [
          {
            "node": "Save NPS Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return: passthrough (texto sem score)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save NPS Score": {
      "main": [
        [
          {
            "node": "Score <= 6?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score <= 6?": {
      "main": [
        [
          {
            "node": "Reply Followup Ask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Thanks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Followup Ask": {
      "main": [
        [
          {
            "node": "Return: handled score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Thanks": {
      "main": [
        [
          {
            "node": "Trigger Marketing Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Followup Text": {
      "main": [
        [
          {
            "node": "Reply Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Ack": {
      "main": [
        [
          {
            "node": "Return: handled followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Marketing Review": {
      "main": [
        [
          {
            "node": "Return: handled score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "errorWorkflow": "rONCEa2neV3XyBBX"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": null,
  "activeVersionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
  "versionCounter": 26,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-04T21:18:47.436Z",
      "createdAt": "2026-05-04T21:18:47.436Z",
      "role": "workflow:owner",
      "workflowId": "ZWzRBjClOdA5xRNQ",
      "projectId": "2cGyYwvKw4dDUUz9",
      "project": {
        "updatedAt": "2026-05-04T21:21:30.902Z",
        "createdAt": "2026-05-04T21:15:25.493Z",
        "id": "2cGyYwvKw4dDUUz9",
        "name": "Luiz Flavio Sa <luizflaviosa@yahoo.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-10T00:54:08.780Z",
    "createdAt": "2026-05-10T00:54:08.780Z",
    "versionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
    "workflowId": "ZWzRBjClOdA5xRNQ",
    "nodes": [
      {
        "id": "0ea5426f-51c4-4d83-8416-64044aa10aee",
        "name": "When Called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          592
        ],
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"tenant_id\": \"singulare\",\n  \"patient_phone\": \"+5511987654321\",\n  \"mensagem\": \"9\",\n  \"id_conta\": \"1\",\n  \"id_conversa\": \"123\",\n  \"url_chatwoot\": \"https://chatwoot.singulare.org\"\n}"
        }
      },
      {
        "id": "df2b49e2-d0d4-48cf-936a-ce43ba24e419",
        "name": "Lookup Pending NPS",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          224,
          592
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=SELECT \n  COALESCE(pf.id, 0) AS id,\n  COALESCE(pf.status, 'no_pending') AS status,\n  pf.nps_score,\n  CASE WHEN pf.id IS NULL THEN false ELSE true END AS has_pending\nFROM (VALUES (1)) AS dummy(d)\nLEFT JOIN LATERAL (\n  SELECT id, status, nps_score\n  FROM public.patient_feedback\n  WHERE tenant_id = '{{ $json.tenant_id }}'\n    AND patient_phone = '{{ $json.patient_phone }}'\n    AND status IN ('pending', 'awaiting_followup')\n    AND sent_at > now() - interval '24 hours'\n  ORDER BY sent_at DESC\n  LIMIT 1\n) pf ON true",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "ed02ca91-967d-4eb1-bddf-dd4326af9f20",
        "name": "Tem pendente?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          592
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "h1",
                "leftValue": "={{ $json.has_pending }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "62a746f4-3cac-4bb8-bf57-7bfe6dee69c4",
        "name": "NPS Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          672,
          464
        ],
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "rt-p",
                      "leftValue": "={{ $('Lookup Pending NPS').item.json.status }}",
                      "rightValue": "pending",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Pending"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "rt-fu",
                      "leftValue": "={{ $('Lookup Pending NPS').item.json.status }}",
                      "rightValue": "awaiting_followup",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Followup"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        }
      },
      {
        "id": "8ea560de-6ac4-494b-92c4-9be7493d17ea",
        "name": "Parse Score",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          112
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "function parseNpsScore(message) {\n  if (!message || typeof message !== 'string') return null;\n  const matches = message.matchAll(/\\b(\\d{1,3})\\b/g);\n  for (const m of matches) {\n    const n = Number(m[1]);\n    if (Number.isInteger(n) && n >= 0 && n <= 10) return n;\n  }\n  return null;\n}\nconst input = $('When Called').item.json;\nconst lookup = $('Lookup Pending NPS').item.json;\nconst score = parseNpsScore(input.mensagem);\nreturn { json: {\n  ...input,\n  feedback_id: lookup.id,\n  score\n}};"
        }
      },
      {
        "id": "64415ad8-2700-4a1d-b3a8-0d31b1635e8a",
        "name": "Score parsed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1120,
          112
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "sp-notnull",
                "leftValue": "={{ $json.score }}",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "sp",
                "leftValue": "={{ $json.score }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "aff72888-007a-4b42-a937-8e514ce72a7d",
        "name": "Save NPS Score",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1344,
          96
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE public.patient_feedback\nSET nps_score = {{ $json.score }},\n    responded_at = now(),\n    status = CASE WHEN {{ $json.score }} <= 6 THEN 'awaiting_followup' ELSE 'closed' END\nWHERE id = {{ $json.feedback_id }}\nRETURNING status, nps_score",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "ca0ea8af-07f5-401a-a05e-8f0e5f9ffda1",
        "name": "Score <= 6?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1568,
          96
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "low",
                "leftValue": "={{ $('Parse Score').item.json.score }}",
                "rightValue": 6,
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "83e2ade0-bda7-4283-9a4a-f320754df893",
        "name": "Reply Followup Ask",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1792,
          0
        ],
        "parameters": {
          "source": "database",
          "mode": "each",
          "workflowId": {
            "__rl": true,
            "value": "IUFMBjkYRcp20xr7",
            "mode": "list",
            "cachedResultName": "5. Enviar agendamento"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensagem": "Obrigada pela nota 🙏\nO que podemos melhorar pra próxima vez?",
              "id_conta": "={{ $('When Called').item.json.id_conta }}",
              "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
              "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensagem",
                "displayName": "mensagem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conta",
                "displayName": "id_conta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conversa",
                "displayName": "id_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "b1a1e253-3026-405e-a3e5-a914a4697dd3",
        "name": "Return: handled score",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2016,
          96
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "h",
                "name": "handled",
                "value": "={{ true }}",
                "type": "boolean"
              },
              {
                "id": "a",
                "name": "action",
                "value": "score",
                "type": "string"
              },
              {
                "id": "s",
                "name": "score",
                "value": "={{ $('Parse Score').item.json.score }}",
                "type": "number"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        }
      },
      {
        "id": "2a063117-fc7a-4f3a-be48-0cab592e58c9",
        "name": "Reply Thanks",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1792,
          192
        ],
        "parameters": {
          "source": "database",
          "mode": "each",
          "workflowId": {
            "__rl": true,
            "value": "IUFMBjkYRcp20xr7",
            "mode": "list",
            "cachedResultName": "5. Enviar agendamento"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensagem": "Obrigada pelo retorno! Que bom que correu bem 💜",
              "id_conta": "={{ $('When Called').item.json.id_conta }}",
              "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
              "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensagem",
                "displayName": "mensagem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conta",
                "displayName": "id_conta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conversa",
                "displayName": "id_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "e886940e-8e6f-4e64-a658-53059c9ac15e",
        "name": "Return: passthrough (texto sem score)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          288
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "h",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "a",
                "name": "action",
                "value": "passthrough",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        }
      },
      {
        "id": "56aa3054-a839-4651-91c5-2565d179c188",
        "name": "Save Followup Text",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          896,
          480
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "=UPDATE public.patient_feedback\nSET feedback_text = '{{ ($('When Called').item.json.mensagem || '').replaceAll(\"'\", \"''\") }}',\n    responded_at = now(),\n    status = 'closed'\nWHERE id = {{ $('Lookup Pending NPS').item.json.id }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "2MWvHIrEZHdAbAz1",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "892fd0ad-e190-499e-a9f6-4c0688a362c8",
        "name": "Reply Ack",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1120,
          480
        ],
        "parameters": {
          "source": "database",
          "mode": "each",
          "workflowId": {
            "__rl": true,
            "value": "IUFMBjkYRcp20xr7",
            "mode": "list",
            "cachedResultName": "5. Enviar agendamento"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensagem": "Anotado, obrigada por contribuir 💜",
              "id_conta": "={{ $('When Called').item.json.id_conta }}",
              "id_conversa": "={{ $('When Called').item.json.id_conversa }}",
              "url_chatwoot": "={{ $('When Called').item.json.url_chatwoot }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensagem",
                "displayName": "mensagem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conta",
                "displayName": "id_conta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "id_conversa",
                "displayName": "id_conversa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "2b751e1c-43a7-4e78-a912-22921bba87e9",
        "name": "Return: handled followup",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          480
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "h",
                "name": "handled",
                "value": "={{ true }}",
                "type": "boolean"
              },
              {
                "id": "a",
                "name": "action",
                "value": "followup",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        }
      },
      {
        "id": "409ccd6d-4e60-4e05-920c-afd4dd8ff2ab",
        "name": "Return: passthrough (fallback)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          672
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "h",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "a",
                "name": "action",
                "value": "passthrough",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        }
      },
      {
        "id": "099c5b6d-4ef6-43dd-bf55-fe85c871f03d",
        "name": "Return: passthrough (sem pending)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          688
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "h",
                "name": "handled",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "a",
                "name": "action",
                "value": "passthrough",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n:5678/webhook/marketing-nps-review",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"feedback_id\": {{ $('Lookup Pending NPS').item.json.id }}\n}",
          "options": {
            "timeout": 8000,
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "trigger-mkt-review",
        "name": "Trigger Marketing Review",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2200,
          280
        ],
        "onError": "continueRegularOutput",
        "continueOnFail": true
      }
    ],
    "connections": {
      "When Called": {
        "main": [
          [
            {
              "node": "Lookup Pending NPS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Pending NPS": {
        "main": [
          [
            {
              "node": "Tem pendente?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem pendente?": {
        "main": [
          [
            {
              "node": "NPS Router",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return: passthrough (sem pending)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NPS Router": {
        "main": [
          [
            {
              "node": "Parse Score",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save Followup Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return: passthrough (fallback)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Score": {
        "main": [
          [
            {
              "node": "Score parsed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score parsed?": {
        "main": [
          [
            {
              "node": "Save NPS Score",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return: passthrough (texto sem score)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save NPS Score": {
        "main": [
          [
            {
              "node": "Score <= 6?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score <= 6?": {
        "main": [
          [
            {
              "node": "Reply Followup Ask",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply Thanks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply Followup Ask": {
        "main": [
          [
            {
              "node": "Return: handled score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply Thanks": {
        "main": [
          [
            {
              "node": "Trigger Marketing Review",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Followup Text": {
        "main": [
          [
            {
              "node": "Reply Ack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply Ack": {
        "main": [
          [
            {
              "node": "Return: handled followup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Marketing Review": {
        "main": [
          [
            {
              "node": "Return: handled score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Luiz Flavio Sa",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-10T00:54:08.858Z",
        "id": 251,
        "workflowId": "ZWzRBjClOdA5xRNQ",
        "versionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-10T00:54:08.884Z",
        "id": 252,
        "workflowId": "ZWzRBjClOdA5xRNQ",
        "versionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:04:54.348Z",
        "id": 387,
        "workflowId": "ZWzRBjClOdA5xRNQ",
        "versionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:04:54.370Z",
        "id": 388,
        "workflowId": "ZWzRBjClOdA5xRNQ",
        "versionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:26:55.219Z",
        "id": 410,
        "workflowId": "ZWzRBjClOdA5xRNQ",
        "versionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
        "event": "deactivated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      },
      {
        "createdAt": "2026-05-17T14:26:55.246Z",
        "id": 411,
        "workflowId": "ZWzRBjClOdA5xRNQ",
        "versionId": "b3e7f53c-ad17-4174-936d-fde888d9510c",
        "event": "activated",
        "userId": "103f46e2-d012-4edc-bf20-496ec57af330"
      }
    ]
  }
}
